/* App.css */

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .container {
  background-color: #1e1e1e;
}

/* Light Mode Styles */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode .container {
  background-color: #f0f0f0;
}
